<div id="upgrade-spiceworks-message" class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Time to upgrade!</strong>
  Upgrade Spiceworks to the latest 7.5 patch in order to enable
  Easy Asset Editor to provide <%- features %>!
</div>