<div id="welcome-message" class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" style="width:80px;height:80px;" src="//static.spiceworks.com/shared/accounts-id/images/users/0018/3315/mini_magick20151020-19052-1fj2pv8.jpeg" alt="David Babbitt">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Welcome!</h4>
      Thanks for trying my app! The Easy Asset Editor aims to make updating inventory items a breeze.
      It simply shows you the important attributes and your custom device attributes&mdash;all in a quick pop-up editor.
      Just check the box (or multiple at once!) of the devices you want to update, then click <strong>Edit</strong>. Easy!
    </div>
  </div>
</div>