<table id="editor-table" style="width:100%" class="table table-hover table-bordered hover nowrap">
  <thead></thead>
</table>

<% content_for(:scripts) do %>
  <script type="text/javascript">
    $(document).ready(function(){
      var editor = new DeviceEditor("#editor-table");
      var welcome = new Welcome();
      editor.load().then(welcome.show.bind(welcome));
    });
  </script>
<% end %>